.footer {
    padding: 50px 0px 60px;
    z-index: 3;

    @media (max-width: 760px) {
        display: block;
        height: 100%;
        z-index: 3;
        padding-top: 30px;
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 50px;
        border-bottom: 3px solid #000;
        background-color: transparent;

        @media (max-width: 1035px) {
            width: 55%;
        }
        @media (max-width: 760px) {
            width: 100%;
            max-width: 300px;
        }

        input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            font-weight: 700;
            padding: 20px 0px;

            &::placeholder {
                text-transform: uppercase;
                letter-spacing: 3px;
                color: #000;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
                opacity: 1;

                @media (max-width: 760px) {
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }
        }
    }

    &__links {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 0px 90px;
        padding: 35px 0px;
        border-bottom: 1px solid rgba(149, 153, 156, 0.5);
        margin-bottom: 40px;

        @media (max-width: 1050px) {
            gap: 0px 45px;
        }
        @media (max-width: 760px) {
            flex-direction: column;
            align-items: center;
            border: 1px solid rgba(149, 153, 156, 0.5);
            border-radius: 22px;
            padding: 0px 0px;
        }
    }

    &__link {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;

        &:hover {
            color: #69d2e7;
        }
    }

    &__image {
        @media (max-width: 760px) {
            width: 20px;
            height: 10px;
        }
    }

    &__item {
        @media (max-width: 760px) {
            width: 100%;
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid rgba(149, 153, 156, 0.5);
        }

        &:last-of-type {
            @media (max-width: 760px) {
                border-bottom: none;
            }
        }
    }
}
