<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div class="footer__input">
                <input type="text" name="sign-up" value="" placeholder="sign up our newsletter" autocomplete="off">
                <img src="img/footer/arrows-24px-outline-1_tail-triangle-right.png" class="footer__image" alt="">
            </div>
            <ul class="footer__links">
                <li class="footer__item"><a href="#" class="footer__link">home</a></li>
                <li class="footer__item"><a href="#" class="footer__link">demos</a></li>
                <li class="footer__item"><a href="#" class="footer__link">pages</a></li>
                <li class="footer__item"><a href="#" class="footer__link">elemensts</a></li>
                <li class="footer__item"><a href="#" class="footer__link">portfolio</a></li>
                <li class="footer__item"><a href="#" class="footer__link">blog</a></li>
                <li class="footer__item"><a href="#" class="footer__link">shop</a></li>
            </ul>
            @@include('_rights.html', {})
            @@include('_social.html', {})
        </div>
    </div>
</footer>