<div class="form" data-parent="quote">
    <form action="#" method="post">
        <div class="form__field" data-parent="quote">
            <input type="text" name="username" class="form__input" placeholder="Name" autocomplete="off"
                data-parent="quote">
            <img src="img/main/quote/check-small.png" class="form__image" alt="">
        </div>
        <div class="form__field" data-parent="quote">
            <input type="email" value="" name="email" class="form__input" placeholder="Email" autocomplete="off"
                data-parent="quote">
            <img src="img/main/quote/check-small.png" class="form__image" alt="">
        </div>
        <div class="form__field" data-parent="quote">
            <input type="tel" value="" name="phone" placeholder="Phone" class="form__input" autocomplete="off"
                data-parent="quote">
            <img src="img/main/quote/check-small.png" class="form__image" alt="">
        </div>
        <div class="form__field" data-parent="quote">
            <input type="text" name="username" class="form__input" placeholder="Company Name" autocomplete="off"
                data-parent="quote">
            <img src="img/main/quote/check-small.png" class="form__image" alt="">
        </div>
        @@include('_select.html', {})
        <button type="submit" class="form__button">Send me a quote</button>
    </form>
</div>