.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    width: 100%;
    padding: 50px 0px 100px;
    z-index: 3;

    .container {
        @media (max-width: 1200px) {
            margin: 0px 0px;
            padding: 0px 0px;
        }
        @media (max-width: 760px) {
            margin: 0px auto;
            padding: 0px 15px;
        }
    }

    @media (max-width: 760px) {
        display: block;
        padding: 130px 0px;
    }
    @media (max-width: 650px) {
        padding: 20px 0px 130px;
    }
    @media (max-width: 560px) {
        padding: 15px 0px 130px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #95999c;
        width: 100%;
        padding: 0px 350px;
        line-height: 30px;
        gap: 35px 0px;
        margin-bottom: 50px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;

        @media (max-width: 1200px) {
            min-width: 1200px;
        }
        @media (max-width: 760px) {
            font-size: 16px;
            padding: 0px 0px;
            min-width: 0px;
        }
        &::after {
            content: "";
            width: 100px;
            height: 1px;
            background-color: #69d2e7;
        }
    }

    &__content {
        overflow: hidden;
        display: flex;
        width: 100%;
        padding: 30px;

        @media (max-width: 760px) {
            width: 100%;
            overflow: visible;
            padding: 0px 10px;
        }
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__nav {
        display: block;
        text-align: center;

        @media (max-width: 760px) {
            width: 100%;
        }
    }

    &__links {
        display: inline-block;
        font-size: 0px;
        margin-bottom: 100px;
        text-align: center;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 0px;

        @media (max-width: 760px) {
            width: 100%;
            border: 1px solid #d3d3d3;
            margin-bottom: 30px;
        }
    }

    &__link {
        display: inline-block;
        padding: 20px 0px 20px 0px;
        margin-right: 30px;
        margin-bottom: -1px;
        font-size: 14px;
        font-weight: 600;
        color: #999;
        text-transform: uppercase;
        border-bottom: 1px solid #d3d3d3;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;

        @media (max-width: 760px) {
            width: 100%;
            font-size: 11px;
        }

        &:last-child {
            padding-right: 0px;
            margin-right: 0px;
        }
        &:hover {
            color: #333;
        }
        &.active {
            color: #69d2e7;
            border-bottom: 1px solid #69d2e7;
        }
    }
}
