@use "sass:math";

@import "base/base";
@import "base/mixins";
@import "base/fonts";

// $fontFamily: "Roboto";
// $fontSize: rem(20);

@import "base/null";



.header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 50;
    border-bottom: 1px solid #e0e0e0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 3;
    }

    &__body {
        position: relative;
        display: flex;
        height: 80px;
        align-items: center;
        gap: 100px;
    }

    &__link {
        position: relative;
        z-index: 5;
        display: inline-block;
        padding: 30px 50px;
        flex: 0 0 60px;
    }

}

.logo {
    display: block;
    max-width: 140px;
    height: 31px;
}

.burger {
    display: none;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 3;
    width: 100%;

    &__item {
        position: relative;
        padding: 32px 50px;
        border-right: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        margin-left: -1px;

        &:hover {
            border-bottom: 4px solid #69d2e7;
            margin-bottom: -4px;
        }

        &:last-child {
            margin-left: auto;
            border: none;
        }
        &:last-child:hover {
            border-bottom: none;
            margin-bottom: 0px;
        }
    }

    &__link {
        color: #666;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

}

.search {
    position: relative;
    padding: 30px 21px;
    z-index: 3;
    max-width: 140px;
    flex: 0 0 60px;

    &__button {
        display: block;
    }
}